.cardMap{
    
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 50px 300px;
   



}

.body_cardMap h2{
    font-size: 5rem;
    text-align: center;
    color:transparent;
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
    background-clip:text;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 100px;
}