.hero{
    height: 100vh;
}

.weather p {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 2rem;
    line-height: 0;
    font-size: 1rem;
    
}

.hero_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:5rem;
    min-height: 80vh;
    max-width: 100vw;
    background-color: #080808;
    
}
.hero_center_left{
    max-width: 40vw;
}
.hero_center_left h1 {
    color:transparent;
    background: linear-gradient(220.55deg, #FFDC99 0%, #FF62C0 100%);
    background-clip:text;
    letter-spacing: 0px ;
    font-size: 2.5rem ;
    font-weight: 700;
    
}
.parraf p{
    padding: 10px 0px;
    font-size: 1.1rem;
    line-height: 25px;
    letter-spacing: 0.2px;
    

}    

.hero_center_left h2 {
    
    margin-top:0.5rem;
    font-size:5rem !important; 
    font-weight: 500;
    line-height: 75px !important;
    
    
    
    }

.hero_center_left span{
    color:transparent;
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
    background-clip:text;
    font-weight: bold;
    font-size: 5rem;
    

}    


.hero_center_left span:hover{
    background-size: 10%;
    background-position-x: 5%;
    transition: 2s;
    

}    


@media screen and (max-width: 1000px) {
    .hero{
        height: 90vh;
    }
    .hero_center{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap:5rem;
        min-height: 80vh;
        max-width: 100vw;
        
  }

  .hero_center_left{
    max-width: 90vw;
}

.hero_center_right{
    display: none;
}

}


@media screen and (max-width: 1200px) {

    

    .hero_center_left h1 {
        
        font-size: 1.8rem ;
        
        
    }

    .hero_center_left h2 {
    
        font-size: 3.5rem !important;
        line-height: 3.2rem !important;
        padding: 10px 0px;
        
        
        
        }
    
    .hero_center_left span{
        font-size: 3.5rem;
        
    
    }    
    
    
    .hero_center_left span:hover{
        font-size: 3.5rem;
        
    
    }    


}

