.body_Projects h2{
    
    font-size: 5rem;
    text-align: center;
    color:transparent;
    background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
    background-clip:text;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 100px;
    margin-top: 300px;
}

.body_projects_cards{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    

}


@media screen and (max-width: 1200px) {
    .body_Projects h2{
        max-width: 100vw;
        padding: 0px 25px;
        font-size: 3.5rem !important;
        line-height: 3.2rem !important;
        margin-top: 180px;
    }

    .body_projects_cards{
        flex-direction: column;
        gap:60px;
    }
    
}